.form {
  display: flex;
  width: 80%;
  max-width: 1500px;
  margin: 50px auto;
}

.selectTag {
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.form button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}


.problems {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
}

.probs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.problems .ratingTitle {
  cursor: pointer;
}

.problems {
  min-height: 100vh;
}

@media screen and (max-width:1000px) {
  .problems .selectTag {
      font-size: 20px;
      padding: 10px;
      width: 100%;
  }

  .problems button {
      padding: 5px 10px;
      font-size: 20px;
  }

  .problems form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 80%;
  }
}

@media screen and (max-width:550px) {
  .problems .selectTag {
      font-size: 15px;
      padding: 7px;
  }

  .problems button {
      padding: 3px 7px;
      font-size: 15px;
  }

  .problems form {
      width: 90%;
  }
}